* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
#header {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    z-index: 5;
}
a:link, a:visited, a:hover, a:active {
    color: white;
}
#controls {
    font-family: monospace; line-height: 1.4em;
    font-size: 1.2em;
}
.control-item {
    padding: 5px 10px;
}
.control-item.interactive {
    cursor: pointer;
}
#app {
    width: 100%;
    height: 100%;
}
canvas {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
    z-index: 1;
}
svg {
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
